@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@1,700&display=swap");
/*font-family: 'IBM Plex Sans Condensed', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=IBM+Plex+Sans+Condensed:ital,wght@1,700&display=swap");
/*font-family: 'Edu TAS Beginner', cursive;*/
header {
  background-color: #DBA440;
  height: 4cm;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0%;
  z-index: 1000;
}
header .logo {
  width: 30%;
}
header nav {
  width: 50%;
}
header nav ul {
  list-style: none;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 25px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
header nav ul a {
  color: black;
  text-decoration: none;
}
header nav ul li:hover {
  background: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-image: url(../imagenes/BANNER-FRUTAS.jpg);
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0;
  height: auto;
}
.banner h1 {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
  color: black;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}
.banner h2 {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 50px;
  text-align: center;
  text-transform: capitalize;
  color: black;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}

H3 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.padre-flex {
  display: flex;
  justify-content: space-around;
}
.padre-flex a {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.padre-flex p {
  display: flex;
  justify-content: center;
}
.padre-flex img {
  border: solid #DBA440 15px;
}

.info-compra {
  width: 100px;
  border: none;
}

main .nosotros {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 30px;
  margin-left: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}
main .carousel-inner img {
  max-width: 100%;
  height: 70vh;
  background-size: cover;
  border: none;
}
main .card-body {
  background-color: #ddcaa7;
}

main .titulo-producto {
  font-size: 30px;
  font-family: "Edu TAS Beginner", cursive;
  margin-top: 20px;
  padding: 30px;
  text-align: center;
  background-color: #ddcaa7;
}
main section h1 {
  font-size: 25px;
}
main section .img-producto {
  width: 15%;
}
main section .card-img-top {
  height: 200px;
  width: 100%;
}

main .titulo-contacto {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 30px;
  margin: 20px 10px 20px 10px;
  background: #ddcaa7;
}
main .contacto-casillas {
  margin-left: 10px;
}

footer {
  background-color: #DBA440;
  height: 4cm;
  margin-top: 15px;
  margin-bottom: 0;
}
footer p {
  display: flex;
  justify-content: center;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
footer .footer-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
footer .footer-redes img {
  width: 80px;
}

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
  }
  header nav {
    width: 90%;
  }
  header nav .logo {
    width: 30%;
  }
  header nav ul {
    font-size: 15px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
  main .banner {
    padding: 20px 0;
  }
  main .banner h1 {
    font-size: 20px;
  }
  main .banner h2 {
    font-size: 20px;
  }
  main h3 {
    font-size: small;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
  }
  main .padre-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
  }
  main .padre-flex p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  main .padre-flex img {
    border: solid #DBA440 5px;
  }
  main .nosotros {
    font-size: 15px;
    text-align: center;
    margin: 10px 20px 0 20px;
  }
  .d-flex {
    flex-direction: column;
    justify-content: center;
    margin: 10px 30px 10px 30px;
  }
  main .titulo-producto {
    font-size: 20px;
    padding: 15px 15px 15px 15px;
  }
  main .col {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 10px 30px 10px 30px;
  }
  main .titulo-contacto {
    font-size: 20px;
  }
  footer p {
    text-align: start;
    justify-content: space-around;
  }
  footer .footer-redes {
    flex-direction: row;
    justify-content: space-around;
  }
  footer .footer-redes img {
    width: 50px;
  }
}
@media screen and (min-width: 481px) and (max-width: 978px) {
  header {
    flex-direction: column;
  }
  header .logo {
    height: 100px;
    width: 100px;
  }
  header nav {
    width: 90%;
  }
  header nav a {
    font-size: 1.5rem;
  }
  header nav ul {
    width: 100%;
    justify-content: space-around;
  }
  main .banner {
    padding: 20px 20px;
  }
  main .padre-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
  }
  main .nosotros {
    font-size: 25px;
    text-align: center;
    margin: 15px;
  }
  main .d-flex img {
    height: 100px;
  }
}

/*# sourceMappingURL=estilos.css.map */
