
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@1,700&display=swap');
/*font-family: 'IBM Plex Sans Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=IBM+Plex+Sans+Condensed:ital,wght@1,700&display=swap');
/*font-family: 'Edu TAS Beginner', cursive;*/
$colorheader: #DBA440;

@import "header.scss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//main index
  
  .banner{
    background-image: url(../imagenes/BANNER-FRUTAS.jpg);
   max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0;
    height: auto;
    h1{
      font-family: 'Edu TAS Beginner', cursive;
      font-size: 70px;
      text-align: center;
      text-transform: capitalize;
      color: black;
      text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
    }
    h2{
      font-family: 'Edu TAS Beginner', cursive;
      font-size: 50px;
      text-align: center;
      text-transform: capitalize;
      color: black;
      text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
    }
  }
  H3{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin-top:20px ;
    margin-bottom: 20px;
    padding: 20px;
  }
  .padre-flex{
    display: flex;
    justify-content: space-around;
    a{ 
      font-family: 'IBM Plex Sans Condensed', sans-serif;
      font-size: 20px;
      color: black;
      text-decoration: none;
    }
    p{
      display: flex;
      justify-content: center;
    }
    img{
      border:solid $colorheader 15px
    }
  }
  .info-compra{
    width: 100px;
    border: none;
  }


//Nosotros
main{
  .nosotros{
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.carousel-inner img {
  max-width: 100%;
  height: 70vh;
  background-size: cover;
  border: none;
}
.card-body{
  background-color: #ddcaa7;
}
}

//productos

main{
  .titulo-producto{
    font-size: 30px;
    font-family: 'Edu TAS Beginner', cursive;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    background-color: #ddcaa7;
  }
  section{
    h1{
      font-size: 25px;
    }
    .img-producto{
      width: 15%;
    }
    
    .card-img-top{
      height: 200px;
      width: 100%;
    }
  }
}
//Contacto
main{
  .titulo-contacto{
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 30px;
    margin: 20px 10px 20px 10px;
    background: #ddcaa7;
  }
  .contacto-casillas{
    margin-left: 10px;
  }
}

//footer

footer{
  background-color: $colorheader;
  height: 4cm;
  margin-top: 15px;
  margin-bottom: 0;
   p{
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    }

  .footer-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    img{
      width: 80px;
    }
}

}
//mediaq
@media screen  and (max-width:480px){
  header{
    flex-direction: column;
    nav{
      width: 90%;
    .logo{
      width: 30%;
     }
     ul{
      font-size: 15px;
      flex-direction: row;
      justify-content:space-around;
      align-items:center;
      margin-bottom: 10px;
     }
   }
  }
   //index
   main{
    .banner{
      padding: 20px 0;
        h1{
        font-size: 20px;
       }
       h2{
        font-size: 20px;
       }
      }
    h3{
        font-size: small;
        text-align:justify;
       padding-right:  20px;
       padding-left: 20px;
    }
    .padre-flex{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
      p{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
    img{
      border:solid $colorheader 5px

  }
   }
     
   }
   //nosotros mq
  main{
   .nosotros{
    font-size: 15px;
    text-align: center;
    margin: 10px 20px 0 20px;
   }
  }
   .d-flex{
    flex-direction: column;
    justify-content: center;
    margin: 10px 30px 10px 30px;
    }

//productos mq
main{
  .titulo-producto{
    font-size: 20px;
    padding: 15px 15px 15px 15px;
  }
  .col{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 10px 30px 10px 30px;
  }
}

//contacto
main{
  .titulo-contacto{
    font-size: 20px;
  }
}

    //footer mq
    footer{
      p{
        text-align:start;
        justify-content: space-around;
      }
      .footer-redes{
        flex-direction: row;
        justify-content:space-around;
        img{
          width: 50px;
       }
    }
    }
}
@media screen and (min-width:481px) and (max-width:978px){
  header{
    flex-direction: column;
    .logo{
      height: 100px;
      width: 100px;
    }
    nav{
      width: 90%;
      a{
       font-size: 1.5rem;
     }
     ul{
      width: 100%;
      justify-content: space-around;
     }
    
   }
  }
  //index mq
  main{
    .banner{
      padding: 20px 20px;
    }
    .padre-flex{
      display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
    
    }
  }
//nosotros mq
main{
  .nosotros{
    font-size: 25px;
    text-align: center;
    margin: 15px;
  }
}
  //productos mq
  main{
    .d-flex{
      img{
    height: 100px;
      }
    }
  }
  
  }
  